.background {
	background-image: linear-gradient(
			to bottom,
			transparent,
			rgba(255, 255, 255, 1) 98%
		),
		url('../../../public/layout/hero-image.jpg');
	background-size: cover;
	width: 100%;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	max-width: 100rem;
	margin: 0 auto;
	text-align: center;
}

.header {
	font-size: 6rem;
	text-transform: uppercase;
	font-weight: 700;
	color: #444;
}

.header span {
	display: block;
	color: rgb(154, 0, 0);
}

.btn {
	width: 30rem;
	margin: 0 auto;
}

.subheader {
	font-size: 1.6rem;
}
