.wrapper {
  font-size: 1.5rem;
}

.wrapper input {
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 0.5rem 0;
}

.wrapper input:focus {
  outline: none;
}

.formInput {
  padding-bottom: 2rem;
}

.btn {
  background-color: #444;
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: -0.1px;
  border: none;
  border-radius: 2px;
  width: 100%;
  padding: 1rem 0;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background-color: #333;
}